ci:
  autofix_prs: true
  autofix_commit_msg: '[pre-commit.ci] auto fixes'
  autoupdate_schedule: monthly
  autoupdate_commit_msg: 'chore(deps): pre-commit autoupdate'
  skip:
  - check-dependabot
  - uv-lock

repos:
- repo: https://github.com/pre-commit/pre-commit
  rev: v4.2.0
  hooks:
  - id: validate_manifest

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
    exclude: "\\.vscode/.*.json"
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.6.0"
  hooks:
  - id: pyproject-fmt

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
  - id: check-dependabot
  - id: check-meltano
  - id: check-github-workflows

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.12
  hooks:
  - id: ruff
  - id: ruff-format

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.9
  hooks:
  - id: uv-lock

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.0
  hooks:
  - id: mypy
    pass_filenames: true
    additional_dependencies:
    - types-requests
    - types-PyYAML
