[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core>=1.5",
]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_dbt"

[tool.poetry]
name = "tap-dbt"
version = "0.5.0"
description = "Singer tap for dbt, built with the Singer SDK."
license = "Apache-2.0"
authors = ["Edgar Ramírez Mondragón <edgarrm358@sample.com>"]
maintainers = ["Edgar Ramírez Mondragón <edgarrm358@sample.com>"]
readme = "README.md"
repository = "https://github.com/edgarrmondragon/tap-dbt"
keywords = ["singer.io", "elt", "dbt", "singer-sdk"]

[tool.poetry.dependencies]
python = "<3.12,>=3.7.1"
pyyaml = "^6.0"
singer-sdk = "==0.24.0"

[tool.poetry.group.dev.dependencies]
faker = ">=17.6,<19.0"
pytest = "^7.2.2"
responses = "^0.23.1"

[tool.poetry.scripts]
tap-dbt = 'tap_dbt.tap:cli'

[tool.ruff]
ignore = ["ANN101"]
line-length = 88
select = ["ALL"]
src = ["tap_dbt", "tests"]
target-version = "py37"

[tool.ruff.isort]
known-first-party = ["tap_dbt"]

[tool.ruff.per-file-ignores]
"tests/*" = ["ANN201", "S101"]

[tool.ruff.pydocstyle]
convention = "google"
