[tool.poetry]
name = "tap-dbt"
version = "0.3.0"
description = "Singer tap for dbt, built with the Singer SDK."
license = "Apache-2.0"
authors = [
    "Edgar Ramírez Mondragón <edgarrm358@sample.com>",
]
maintainers = [
    "Edgar Ramírez Mondragón <edgarrm358@sample.com>",
]
readme = "README.md"
repository = "https://github.com/edgarrmondragon/tap-dbt"
keywords = [
    "singer.io",
    "elt",
    "dbt",
    "singer-sdk",
]

[tool.poetry.dependencies]
python = "<3.11,>=3.7.1"
singer-sdk = "==0.14.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
isort = "^5.10.1"
black = "^22.6"
mypy = "^0.982"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_dbt"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
tap-dbt = 'tap_dbt.tap:cli'
