[build-system]
build-backend = "poetry_dynamic_versioning.backend"
requires = [
  "poetry-core",
  "poetry-dynamic-versioning",
]

[tool.poetry]
name = "tap-dbt"
version = "0.0.0"
description = "Singer tap for dbt, built with the Singer SDK."
license = "Apache-2.0"
authors = [
  "Edgar Ramírez Mondragón <edgarrm358@sample.com>",
]
maintainers = [
  "Edgar Ramírez Mondragón <edgarrm358@sample.com>",
]
readme = "README.md"
homepage = "https://github.com/MeltanoLabs/tap-dbt"
repository = "https://github.com/MeltanoLabs/tap-dbt"
documentation = "https://github.com/MeltanoLabs/tap-dbt/blob/main/README.md"
keywords = [
  "singer.io",
  "elt",
  "dbt",
  "singer-sdk",
]

[tool.poetry.dependencies]
python = ">=3.8"
backports-datetime-fromisoformat = { version = "~=2.0.1", python = "<3.11" }
pyyaml = "~=6.0"
requests = "~=2.32.0"
singer-sdk = "~=0.41.0"

[tool.poetry.group.dev.dependencies]
deptry = ">=0.14.2"
faker = ">=17.6"
pytest = "~=8.0"
responses = "~=0.25.0"

[tool.poetry.scripts]
tap-dbt = 'tap_dbt.tap:cli'

[tool.poetry-dynamic-versioning]
enable = true
style = "pep440"
vcs = "git"

[tool.ruff]
target-version = "py38"

line-length = 88
src = [
  "tap_dbt",
  "tests",
]
lint.select = [
  "ALL",
]
lint.ignore = [
  "ANN101", # missing-type-self
  "COM812", # missing-trailing-comma
  "FIX002", # line-contains-todo
  "ISC001", # single-line-implicit-string-concatenation
]

lint.per-file-ignores."tests/*" = [
  "ANN201",
  "S101",
]
lint.unfixable = [
  "ERA001", # commented-out-code
]
lint.isort.known-first-party = [
  "tap_dbt",
]
lint.isort.required-imports = [
  "from __future__ import annotations",
]
lint.pydocstyle.convention = "google"

[tool.deptry]
known_first_party = [
  "tap_dbt",
]

[tool.deptry.package_module_name_map]
"backports-datetime-fromisoformat" = "backports.datetime_fromisoformat"
faker = "faker"
pytest = "pytest"
responses = "responses"

[tool.deptry.per_rule_ignores]
DEP001 = ["backports"]
DEP002 = ["backports-datetime-fromisoformat"]
