name: Test Tap

on:
  pull_request:
    paths-ignore:
      - '**/README.md'
  push:
    branches: [main]
    paths-ignore:
      - '**/README.md'

env:
  FORCE_COLOR: 1

jobs:
  test_tap:
    name: Test Tap connectivity and Configuration
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            toxenv: py39
          - python-version: "3.10"
            toxenv: py310
          - python-version: "3.11"
            toxenv: py311
          - python-version: "3.12"
            toxenv: py312
          - python-version: "3.13"
            toxenv: py313
          - python-version: "3.x"
            toxenv: deps

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1
        with:
          version: ">=0.5.19"
      - run: >
          uvx
          --with tox-uv
          tox -e ${{ matrix.toxenv }}
