name: Test Tap

on:
  pull_request: {}
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'

jobs:
  test_tap:
    name: Test Tap connectivity and Configuration
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAINT: .github/workflows/constraints.txt
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Poetry
        run: |
          pipx install poetry
          poetry --version

      - name: Install dependencies
        run: |
          poetry install

      - name: Test tap
        run: |
          poetry run pytest
